<div *ngIf="loaded==true; else elseBlock">

    <div class="container"  style="margin: 0 auto">
  <h2 class="text-center">Species details</h2>
  <div class="row">
    <div class="col-md-8 order-md-2 mb-4" style="margin: 0 auto">
    <ul class="list-group mb-2">

      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">Species name</h6>
          <small class="text-muted">{{species.url}}</small>
        </div>
        <span class="text-muted">{{species.name}}</span>
      </li>

      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">Homeplanet</h6>
        </div>
        <span class="text-muted">{{species.homeworld}}</span>
      </li>

      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">Classification</h6>
        </div>
        <span class="text-muted">{{species.classification}}</span>
      </li>

      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">Language</h6>
        </div>
        <span class="text-muted">{{species.language}}</span>
      </li>

    </ul>
    <button (click)="goBack()"  class="btn btn-sm btn-outline-secondary">Go back</button>

  </div>
</div>
</div>
  <!-- div><span>name: </span></div>
  <div><span>homeplanet: </span></div>
  <div><span>classification: </span></div>
  <div><span>language: </span>{{species.language}}</div -->

</div>

<ng-template #elseBlock>
  <h2 class="jumbotron-heading text-center">Loading</h2>
</ng-template>
