

<!-- div>
  <!-- label>Planet name:
    <input #planetName />
  </label-->
  <!-- (click) passes input value to add() and then clears the input -->
  <!-- button (click)="add(planetName.value); planetName.value=''">
    add
  </button>
</div -->
<!-- button (click)="getSpecies()">
  species
</button -->
<section class="text-center">

<h1 class="jumbotron-heading">Planet listing</h1>

<div *ngIf="loaded==true; else elseBlock">

  <button (click)="toggleSortDirection()" class="btn btn-sm btn-outline-secondary">
    Sort up/down by diameter
  </button>
  <div class="album py-3 bg-light">
    <div class="container">
      <div class="row">

        <div class="col-md-3" *ngFor="let planet of getPlanetsSortedByDiameter()">
          <div class="card mb-3 box-shadow">
            <h5>{{planet.name}}</h5>
            <div class="card-body">
              <p class="card-text text-left">Diameter: {{planet.diameter}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <span  *ngFor="let item of getSpeciesOnPlanet(planet.url)">
                  <a routerLink="/species/{{getId(item.url)}}">
                    <button type="button" class="btn btn-sm btn-outline-secondary">{{item.name}}</button>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
  <ng-template #elseBlock>
    <!-- h2 class="jumbotron-heading">Loading</h2 -->
    <img width="250" alt="Planet" src="/assets/spinner.svg">

  </ng-template>
</section>
