<div *ngIf="planet">
  <h2>{{ planet.name | uppercase }} Details</h2>
  <div><span>diameter: </span>{{planet.diameter}}</div>
  <div><span>id: </span>{{planet.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="planet.name" placeholder="name"/>
    </label>
  </div>
  <button (click)="save()">save</button>

  <button (click)="goBack()">go back</button>
</div>
