<h3>Top Planets</h3>
<div class="grid grid-pad">

  <a *ngFor="let planet of planets" class="col-1-4"
    routerLink="/planets/{{planet.id}}">

    <div class="module planet">
      <h4>{{planet.name}}</h4>
    </div>
  </a>
</div>

<app-planet-search></app-planet-search>
