<h1>Species</h1>

<ul class="species">
  <li *ngFor="let singlespecies of species">
    <a routerLink="/species/{{getId(singlespecies.url)}}">
      <span class="badge">id: {{getId(singlespecies.url)}} - {{singlespecies.name}} </span>
      <ul>
        <li>
          <span class="badge">homeworld: {{singlespecies.homeworld}} </span>
        </li>
      </ul>
        <ul>
          <li *ngFor="let item of singlespecies['people']">
            <span>people: {{item}}</span>
          </li>
        </ul>
      <p>
    </a>
  </li>
</ul>
