<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="bg-dark">
  <img width="200" alt="Planet" src="/assets/planet.png">
</div>

<section class="jumbotron text-center">

<h1 class="jumbotron-heading">{{title}}</h1>
          <p class="lead text-muted">Browse Star Wars planets and find more information about their species.</p>

<!-- nav -->
  <!-- a routerLink="/dashboard">Dashboard</a -->
  <!-- a routerLink="/planets">Planets</a -->
  <!-- a routerLink="/species">Species</a -->
<!-- /nav -->
</section>

<router-outlet></router-outlet>
<!-- app-messages></app-messages -->

<!-- h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
</ul -->
